.Todo-page {
  background-image: url("pexels-dương-nhân.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  margin: 0;
  min-width: 630px;
}

.Todo-page-list {
  padding: 20px;
}
