.Todo-list {
  /* min-width: 530px; */
  /* width: 60vw; */
  margin: auto;
  font-size: large;
  opacity: 0.6;
}

.Todo-list label {
  font-weight: bold;
  display: block;
  word-wrap: break-word;
}

.Todo-list .completed {
  text-decoration: line-through;
  color: gray;
}

.Todo-list svg {
  cursor: pointer;
  position: absolute;
  left: 95%;
  color: red;
  font-size: 1.5em;
  z-index: 10;
}

.Todo-list svg.showIcon {
  visibility: visible;
}

.Todo-list svg.hideIcon {
  visibility: hidden;
}
