.Todo-list {
  /* min-width: 530px; */
  /* width: 60vw; */
  margin: auto;
  font-size: large;
  opacity: 0.6;
}

.Todo-list label {
  font-weight: bold;
}

.Todo-list .completed {
  text-decoration: line-through;
  color: gray;
}

.Todo-list .deleteToDo {
  cursor: pointer;
  position: absolute;
  left: 97%;
  top: -30%;
  color: red;
  font-size: 1.5em;
}
